package views

templ Base() {
	<!DOCTYPE html>
	<html lang="en" class="h-screen">
		<head>
			<meta charset="utf-8"/>
			<title>Assemblee</title>
			<script src="assets/js/htmx.min.js"></script>
		</head>
		<body class="h-full">
			<main class="h-full">
				{ children... }
			</main>
		</body>
	</html>
}
