package views

templ Index() {
    @Base() {
        <div id="getter">
            <h2> Getter </h2>
            <a href="/get"> </a>
        </div>
        <div id="setter">
            <h2> Setter </h2>
            <a href="/set/anime"> Anime </a>
            <a href="/set/clip"> Clip </a>
            <a href="/set/video"> Video </a>
        </div>
    } 
}
