body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#main {
    transform: translate(0, 20vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 48px;
}

#getter, #setter {
    display: flex;
    flex-direction: column;
}

#menuarrow {
    position: absolute;
    top: 10%;
    left: 10%;
}

#setview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 8px;
}
#submit {
    margin-top: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}




#searchdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#searchbar {
    width: 40vw;
    height: 5vh;
}

table {
    width: 85vw;
    border-collapse: collapse;
}
th:not(.del){
    border: 1px solid;
}
