package getviews

import (
    "Adoutchquizz/views"
    "Adoutchquizz/database"
)

templ AnimeTable(title string, clips []database.Clip) {
    @views.Base() {
        <div> 
            <h2> Clips from anime { title } </h2>
            <table>
                @clipTable(clips)
            </table>
        </div>
    } 
}

templ AnimeTableError() {
    @views.Base() {
        <div>
            <h2> Error </h2>
        </div>
    }
}
