package getviews

import (
    "Adoutchquizz/views"
)

templ Search(url string, desc string) {
    @views.Base() {
        @views.MenuArrow()
        <div id="searchdiv">
            <h2> {desc} </h2>
            <form hx-get={url} hx-target="#result" hx-swap="innerHTML"> 
                <input type="text" name="search" id="searchbar" />
            </form>
        </div>
        <div id="result"> 
        </div>
    }
}
