package getviews

import (
    "Adoutchquizz/views"
    "Adoutchquizz/database"
)

templ VideoTable(url string, clips []database.Clip) {
    @views.Base() {
        <div> 
            <h2> Clips from video { url } </h2>
            <table>
                @clipTable(clips) 
            </table>
        </div>
    } 
}

templ VideoTableError() {
    @views.Base() {
        <div>
            <h2> Error </h2>
        </div>
    }
}
